<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of products</title>
</head>
<body>
<h2>List of products:</h2><br><br>
<#list products as product>
    <tr>
        <td><h3>${product.description} :: ${product.price} :: ${product.amount}</h3></td>
    </tr>
</#list><br>
<a href="/product">Add product</a>
</body>
</html>
