#logo, form {
    position: relative;
    margin: 0 auto;
}

#logo {
    background-image: url("../img/yahoo.png");
    top:70px;
    height: 96px;
    width: 348px;
}

form {
    top: 90px;
    width: 40%;
    display: flex;
    flex-flow: column
}

#search_query {
    width: 100%;
    height:55px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px grey inset;
    font-size: 18pt;
    padding: 0 10px;
}

#search_query:focus {
    outline: none;
}

#search_button {
    width: 25%;
    height: 53px;
    border-radius: 5px;
    margin: 25px auto;
    font-size: 18pt;
}

#search_button:hover {
    cursor: pointer;
}
