html {
    background-color: gray;
}

#form_header, form {
    position: relative;
    margin: 0 auto;
}

#form_header {
    width: fit-content;
    height:fit-content;
}

form {
    top: 100px;
    width: 35%;
    display: flex;
    flex-flow: column;
    background-color: white;
    padding: 20px 0;
    border-radius: 7px;
}

.form_input {
    width: 60%;
    height:50px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey inset;
    font-size: 18pt;
    padding: 0 10px;
    margin: 5px auto;
}

input:focus {
    outline: none;
}

#signin_btn {
    width: 25%;
    height: 53px;
    border-radius: 5px;
    margin: 25px auto;
    font-size: 18pt;
}

#signin_btn:hover {
    cursor: pointer;
}
